body {
	background-color: #ddd;
}
.main {
	width: 980px;
	margin: 20px auto 0;
}
.left {
	width: 710px;
	float: left;
}
.right {
	width: 260px;
	float: right;
}
.text-container {
	width: 670px;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 10px; 
	position: relative;
}
.text-tag li {
	width: 50px;
	height: 27px;
	color: #fff;
	font-family: arial;
	background-color: #a660b7;
	text-align: center;
	padding-top: 13px;
}
.text-tag li:first-child {
	background-color: #522a5c;
}
.text-tag {
	position: absolute;
	left: -50px;
	top: 20px;
}
.text-container h1 {
	font-size: 16px;
	margin-bottom: 10px;
}
.text-container h3 {
	font-size: 12px;
	color:#666;
	margin-bottom: 20px;
}
.text-container p {
	line-height: 170%;
	font-size: 12px;
	text-indent: 2em;
}
.sig {
	position: relative;
	right:-448px;
}
.sig p {
	color:#666;
}
.pages {
	width: 710px;
	text-align: center;
	margin-bottom: 100px;
}
.pages li {
	display: inline-block;
}
.pages a {
	display: block;
	color: #000;
	font-family: arial;
	padding: 15px;
	background-color: #fff;	
}
.pages a:hover {
	color: #fff;
    background-color: #a660b7;
}

.search {
	width: 220px;
	height: 40px;
	padding: 20px;
	background-color: #fff;
}
.search input {
	width: 166px;
	height: 36px;
}
.search button {
	width: 50px;
	height: 40px;
}
.search .go,
.search .input {
	float: left;
}
.catalog {
	margin: 10px 0;
}
.catalog li {
	width: 256px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left: 3px solid #ccc;
	border-right: 1px solid #fff;
}
.catalog a {
	display: block;
	padding: 20px;
	color: #000;
	font-family: arial;
}
.catalog li:hover {
	border-left: 3px solid #522a5c;
}

.tags {
	width: 240px;
	padding:10px;
	background-color: #fff;
	font-family: arial;
}
.tags h1 {
	font-family: arial;/*写在一起用font不行?*/
	color: #888;
	font-size: 18px;
	margin-bottom: 20px;
}
.tags p {
	color: #522a5c;
	float: left;
	padding:5px;
}
.t1,
.t5 {
	font-size: 30px; 
}
.t2,
.t8,
.t12,
.t13 {
	font-size: 20px;
}
.t3,
.t4,
.t6,
.t7,
.t9,
.t10,
.t11 {
	font-size: 12px;
}
