body{
  width:980px;
}
#navbar{
  width:100%;
  height:80px;
  background-color:#ff0000;
}
.logo{
  font-family:arial;
  font-size:40px;
  margin-bottom:0;
  margin-top:35px;
  float:left;
}
li{
  display:block;
  list-style-type:none;
  font-family:宋体;
  font-size:14px;
  margin:56px 0 0 0;
  padding:5px 14px;
  float:right;
}
.github{
  float:right;
  width:20px;
}
